<section data-ng-controller="MarcasController" data-ng-init="find()">
	<div class="page-header">
        <h1>Marcas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="marca in marcas" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="marca._id"></h4>
            <h5 class="list-group-item-heading" data-ng-bind="marca.nombre"></h5>
            <pre>{{ marca | json }}</pre>
        </a>
    </div>
</section>