<section data-ng-controller="VentasController">
    <div class="page-header">
        <h1>Nueva Venta</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="fecha">Fecha</label>
                    <div class="controls">
                        <input type="date" data-ng-model="venta.fecha" id="fecha" class="form-control" placeholder="Fecha" required>
                    </div>
                    <label class="control-label" for="formapago">Forma de Pago</label>
                    <div class="controls">
                        <select data-ng-model="venta.formapago" ng-options="fp.name as fp.name for fp in formaPagoModel" id="formapago" class="form-control"></select>
                    </div>
                    <label class="control-label" for="cliente">Cliente</label>
                    <div class="controls">
                        <input type="text" data-ng-model="venta.cliente.nombre" typeahead="cliente.nombre as cliente.nombre for cliente in clientes | filter: $viewValue | limitTo:10" typeahead-on-select='onSelect($item, $model, $label)' class="form-control">
                    </div>
                </div>
              <table class="table table-striped" align="center" >
                <tr>
                    <th></th>
                    <th>Articulo</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th>Cant</th>
                    <th>Precio</th>
                    <th style="text-align:right;">Total</th>
                </tr>
                <tr ng-repeat="item in venta.items" ng-hide="printMode" jq:animate="dropdown;250">
                    <td><a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">Eliminar</a></td>
                    <td><input ng-model="item.articulo" placeholder="Articulo"></td>
                    <td>
                      <section data-ng-controller="MarcasController">
                        <select ng-model="$parent.item.marca" ng-options="marca.nombre as marca.nombre for marca in marcas" id="item.marca" class="form-control"></select>
                      </section>
                    </td>
                    <td>
                      <input type="text" ng-model="item.tipo" typeahead="tipo.nombre + ' ' + tipo.genero as tipo.nombre + ' ' + tipo.genero for tipo in tipos | filter: $viewValue | limitTo:4" class="form-control">
                    </td>
                    <td><input ng-model="item.cantidad" value="1" size="4" ng-required ng-validate="integer" placeholder="Cant"></td>
                    <td><input ng-model="item.precio" value="0.00" ng-required ng-validate="number" size="6" placeholder="Precio"></td>
                    <td align="right">{{item.precio * item.cantidad | currency}}</td>
                </tr>
                <tr ng-hide="printMode">
                    <td colspan="7"><a class="btn btn-primary" href ng-click="addItem()" >Nuevo Item</a></td>
                </tr>
                <tr>
                    <td colspan="6" align="right">
                      Sub Total
                    </td>
                    <td align="right">
                      {{ calcular_sub_total() | currency }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" align="right">
                      Descuento(%): <input ng-model="venta.descuento" ng-validate="number" style="width:43px">
                    </td>
                    <td align="right">
                      {{ calcular_descuento() | currency }}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" align="right">
                      Total:
                    </td>
                    <td align="right">
                      {{ calcular_total() | currency }}
                    </td>
                </tr>
              </table>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>