<section data-ng-controller="VentasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Ventas</h1>
    </div>

    <div class="form-group">
        <label class="control-label" for="search">Buscar: </label>
        <input ng-model="search" />
    </div>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Forma de Pago</th>
                <th>Items</th>
                <th>Total</th>
                <th></th>
            </tr>

            <tr data-ng-repeat="venta in ventas | filter: search" class="table-row">
                <td><a href="/#!/clientes/{{venta.cliente._id}}">{{venta.cliente.nombre}}</a></td>
                <td>{{venta.fecha}}</td>
                <td>{{venta.formapago}}</td>
                <td>{{venta.items.length}}</td>
                <td><span class="label label-primary" data-ng-bind="venta.total"></span></td>
                <td> 
                    <a class="btn btn-primary" href="#!/ventas/{{venta._id}}">
                        <i class="glyphicon glyphicon-list"></i>
                    </a>
                </td> 
            </tr>

        </table>
    </div>
</section>