<section data-ng-controller="VentasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="venta.fecha"></h1>
		<h4 data-ng-bind="venta.cliente.nombre"></h4>
		<h4 data-ng-bind="venta.formapago"></h4>

		<table class="table table-striped" align="center" >
              <tr>
                  <th>Articulo</th>
                  <th>Marca</th>
                  <th>Tipo</th>
                  <th>Cant</th>
                  <th style="text-align:right;">Precio</th>
                  <th style="text-align:right;">Total</th>
              </tr>
              <tr ng-repeat="item in venta.items" jq:animate="dropdown;250">
                  <td>{{item.articulo}}</td>
                  <td>{{item.marca}}</td>
                  <td>{{item.tipo}}</td>
                  <td>{{item.cantidad}}</td>
                  <td align="right">{{item.precio | currency}}</td>
                  <td align="right">{{item.precio * item.cantidad | currency}}</td>
              </tr>
        </table>

	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == venta.user._id))">
		<a class="btn btn-primary" href="/#!/ventas/{{venta._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Registrado el
			<span data-ng-bind="venta.created | date:'mediumDate'"></span>
			por
			<span data-ng-bind="venta.user.displayName"></span>
		</em>
	</small>
</section>
