<section data-ng-controller="ClientesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar Cliente</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="nombre">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cliente.nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <label class="control-label" for="telefono">Telefono</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cliente.telefono" id="telefono" class="form-control" placeholder="Telefono">
                    </div>
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cliente.email" id="email" class="form-control" placeholder="Email">
                    </div>
                    <label class="control-label" for="direccion">Direccion</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cliente.direccion" id="direccion" class="form-control" placeholder="direccion">
                    </div>
                    <label class="control-label" for="nacimiento">Fecha de Nacimiento</label>
                    <div class="controls">
                        <input type="date" data-ng-model="cliente.nacimiento" id="nacimiento" class="form-control" placeholder="Nacimiento">
                    </div>
                    <label class="control-label" for="talleRemera">Talle Remera</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cliente.talleRemera" id="talleRemera" class="form-control" placeholder="Talle Remera">
                    </div>
                    <label class="control-label" for="talleJean">Talle Jean</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cliente.talleJean" id="talleJean" class="form-control" placeholder="Talle Jean">
                    </div>
                    <label class="control-label" for="intereses">Intereses</label>
                    <div class="controls">
                        <section data-ng-controller="MarcasController">
                            <div ng-dropdown-multiselect="" options="marcas" selected-model="cliente.intereses" extra-settings="marcasSettings"></div>
                        </section>
                    </div>
                    <label class="control-label" for="observaciones">Observaciones</label>
                    <div class="controls">
                        <input type="text" data-ng-model="cliente.observaciones" id="observaciones" class="form-control" placeholder="Observaciones">
                    </div>
                    <label class="control-label" for="cuidad">Ciudad</label>
                    <div class="controls">
                        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="cityResult" ng-model="cliente.ciudad" details="cityDetails" options="cityOptions"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>