<section data-ng-controller="ClientesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Clientes</h1>
    </div>
    <div class="form-group">
        <label class="control-label" for="search">Buscar: </label>
        <input ng-model="search" />
    </div>
    <div class="list-group">
        <a data-ng-repeat="cliente in clientes | filter:search " data-ng-href="#!/clientes/{{cliente._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="cliente.created | date:'medium'"></span>
				by
				<span data-ng-bind="cliente.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cliente.nombre"></h4>
            <h5 class="list-group-item-heading" data-ng-bind="cliente.telefono"></h5>
            <h5 class="list-group-item-heading" data-ng-bind="cliente.email"></h5>
            <tag-manager tags="tags">
                <div class="tags">
                    <span ng-repeat="marca in cliente.intereses" class="tag">{{marca.nombre}}</span>
                </div>
            </tag-manager>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!clientes.$resolved || clientes.length">
    	No Clientes yet, why don't you <a href="/#!/clientes/create">create one</a>?
    </div>
</section>