<section data-ng-controller="ClientesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="cliente.nombre"></h1>
	</div>
	<div class="form-group">
		<h3 data-ng-bind="cliente.telefono"></h3>
		<h3 data-ng-bind="cliente.email"></h3>
		<h3 data-ng-bind="cliente.direccion"></h3>
		<h3 data-ng-bind="cliente.observaciones"></h3>
		<h3 data-ng-bind="cliente.ciudad"></h3>
		<tag-manager tags="tags">
			<div class="tags">
				<span ng-repeat="marca in cliente.intereses" class="tag">{{marca.nombre}}</span>
			</div>
		</tag-manager>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user))">
		<a href="/#!/ventas/create/{{cliente._id}}" class="btn btn-primary">
			<i class="glyphicon glyphicon-usd"></i>
		</a>
		<a class="btn btn-primary" href="/#!/clientes/{{cliente._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="cliente.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="cliente.user.displayName"></span>
		</em>
	</small>


<div ng-show="ventas.length != 0">
    <div class="page-header">
        <h1>Ventas</h1>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Fecha</th>
                <th>Forma de Pago</th>
                <th>Items</th>
                <th>Total</th>
                <th></th>
            </tr>

            <tr data-ng-repeat="venta in ventas" class="table-row">
                <td>{{venta.fecha}}</td>
                <td>{{venta.formapago}}</td>
                <td>{{venta.items.length}}</td>
                <td><span class="label label-primary" data-ng-bind="venta.total"></span></td>
                <td> 
                    <a class="btn btn-primary" href="#!/ventas/{{venta._id}}">
                        <i class="glyphicon glyphicon-list"></i>
                    </a>
                </td> 
            </tr>

        </table>
    </div>
</div>

</section>

